SEPOLIA_RPC_URL=
PRIVATE_KEY=
INITIAL_SUPPLY=1000000
MINT_TO_ADDRESS=
TRANSFER_TO_ADDRESS=
MULTISIG_OWNERS=
MULTISIG_CONFIRMATIONS=
VISIT_CARD_NAME=Student Visit Card
VISIT_CARD_SYMBOL=SVC
VISIT_CARD_METADATA_URI=
STUDENT_WALLET=
STUDENT_CHARACTER_IDS=1,2
GAME_CHARACTER_METADATA_BASE_URI=
GAME_CHARACTER_IMAGE_BASE_URI=
